Repository jordimontana82/fake-xrm-easy, pull requests merged in 2022-06, with the labels that each got.

#570 Update RetrieveMultipleRequestExecutor.cs
  FakeXrmEasy.Shared/FakeMessageExecutors/RetrieveMultipleRequestExecutor.cs
Labels: enhancement, scope-core, v2-ready

#483 Add the OwningExtension to list of initializing fields.
  FakeXrmEasy.Shared/XrmFakedContext.Plugins.cs
Labels: scope-plugins, v2-ready

#474 Add Extention for the EndPoint notification service.
  FakeXrmEasy.Shared/XrmFakedContext.CodeActivities.cs
Labels: v2-ready, scope-code-activities
